<nav class="navbar navbar-expand-lg bg-white shadow-sm sticky-top">
  <div class="container">

    <a class="navbar-brand fw-bold text-primary" href="#">
      Course Academy
    </a>

    <button
      class="navbar-toggler"
      data-bs-toggle="collapse"
      data-bs-target="#navbarMenu">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarMenu">

      <ul class="navbar-nav mx-auto">
        <li class="nav-item">
          <a class="nav-link">হোম</a>
        </li>

        <li class="nav-item">
          <a class="nav-link">কোর্স</a>
        </li>

        <li class="nav-item">
          <a class="nav-link">পেমেন্ট</a>
        </li>
      </ul>

      <button class="btn btn-primary">
        এখনই ভর্তি হন
      </button>

    </div>
  </div>
</nav>