<nav class="navbar navbar-expand-lg bg-white shadow-sm sticky-top">
  <div class="container">

    <a class="navbar-brand fw-bold text-black" href="#">
      Course Academy
    </a>

    <button
      class="navbar-toggler"
      data-bs-toggle="collapse"
      data-bs-target="#navbarMenu">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarMenu">

      <ul class="navbar-nav mx-auto">
        <li class="nav-item">
          <!-- <a class="nav-link fw-bold text-black" href="#" onclick="document.querySelector('.hero-section').scrollIntoView({behavior:'smooth'})">Home</a> -->
           <a class="nav-link fw-bold text-black" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
            Home
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link fw-bold text-black" routerLink="/courses" routerLinkActive="active">
            Course
          </a>
        </li>

        

         <li class="nav-item">
          <a class="nav-link fw-bold text-black" routerLink="/contact" routerLinkActive="active">
            Contact
          </a>
        </li>

         <li class="nav-item">
          <a class="nav-link fw-bold text-black" routerLink="/about" routerLinkActive="active">
            About
          </a>
        </li>

      </ul>

      <button
        class="btn btn-dark fw-bold text-white"
        onclick="document.querySelector('.ca-whatsapp-section').scrollIntoView({behavior:'smooth'})">
        Apply Now
      </button>

    </div>
  </div>
</nav>