

.brand-primary {
  color: var(--primary-color);
}

.nav-link.active,
.nav-link:hover {
  color: var(--primary-color) !important;
}

.btn-warning {
  background-color: var(--accent-color);
  border-color: var(--accent-color);
}

.btn-warning:hover {
  background-color: #e58f19;
  border-color: #e58f19;
}