.bg-primary-brand {
  background-color: var(--primary-color);
}

.text-primary-brand {
  color: var(--primary-color);
}

.btn-brand {
  background: var(--accent-color);
  border-color: var(--accent-color);
  color: #fff;
}

.btn-brand:hover {
  background: #e58f19;
  border-color: #e58f19;
  color: #fff;
}

.btn-outline-brand {
  color: var(--primary-color);
  border-color: var(--primary-color);
}

.btn-outline-brand:hover {
  background: var(--primary-color);
  border-color: var(--primary-color);
  color: #fff;
}