body {
    background: #000;
}

.hero-section {
    background: #000;
}
section {
    background:
        radial-gradient(circle at top right,
            rgba(255,255,255,.08),
            transparent 35%),
        #000;
}
.video-frame{
    border: 1px solid rgba(255,255,255,.15);
    background: #111;
    padding: 8px;
    border-radius: 20px;
}