<section class="py-4 bg-white">

  <div class="container">

    <div class="row g-3">

      <div class="col-md-4">

        <div class="card border-0 bg-light">

          <div class="card-body">

            <h6>ভিডিও লেকচার</h6>

            <small>
              লাইফটাইম অ্যাক্সেস
            </small>

          </div>

        </div>

      </div>

      <div class="col-md-4">

        <div class="card border-0 bg-light">

          <div class="card-body">

            <h6>লাইভ সাপোর্ট</h6>

            <small>
              এক্সপার্ট সাপোর্ট
            </small>

          </div>

        </div>

      </div>

      <div class="col-md-4">

        <div class="card border-0 bg-light">

          <div class="card-body">

            <h6>সার্টিফিকেট</h6>

            <small>
              কোর্স শেষে
            </small>

          </div>

        </div>

      </div>

    </div>

  </div>

</section>