<section class="py-5 bg-white">

  <div class="container">

    <h2>
      💳 পেমেন্ট পদ্ধতি
    </h2>

    <div class="row mt-4">

      <div class="col-md-3">
        <div class="card text-center">
          <div class="card-body">
            bKash
          </div>
        </div>
      </div>

      <div class="col-md-3">
        <div class="card text-center">
          <div class="card-body">
            Nagad
          </div>
        </div>
      </div>

      <div class="col-md-3">
        <div class="card text-center">
          <div class="card-body">
            Bank
          </div>
        </div>
      </div>

      <div class="col-md-3">
        <div class="card text-center">
          <div class="card-body">
            Cash
          </div>
        </div>
      </div>

    </div>

  </div>

</section>